@font-face {
    font-family: logofont;
    src: url(../font/Codystar-Regular.ttf);
}

@font-face {
    font-family: PrimaryFontRoboto;
    src: url(../font/Roboto-Light.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    height: 3600px !important;
}

body {
    height: 3600px !important;
    width: 1366px !important;
    overflow-x: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    background-image: linear-gradient(268deg, #bdc3c7, #2c3e50) !important;
}

 ::-webkit-scrollbar {
    width: 16px;
}

 ::-webkit-scrollbar-track {
    background: #06062e;
    /* border-radius: 16px; */
}

 ::-webkit-scrollbar-thumb {
    background-color: #ff0037;
    border-radius: 16px;
}


/*navbar section------------------------------------------------------------->*/

#navigationBar {
    position: sticky;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    /* border-radius: 30px; */
    /* border: 1px solid white; */
    font-family: 'PrimaryFontRoboto', sans-serif !important;
    font-size: 15px !important;
    line-height: normal !important;
    height: 70px;
    width: 1366px;
}

.logo img {
    width: 50px;
    height: 52px;
    margin: 0px 10px;
    padding: 5px 0px;
    position: relative;
    top: 0px;
    left: 17px;
}

.logo {
    display: flex;
}

.logo div {
    text-align: center;
    justify-content: center;
    margin: 2px 0px 0px 0px;
    padding: 5px 3px;
    font-family: 'logofont', cursive !important;
    color: rgb(245, 245, 239);
    font-style: bold !important;
    font-size: 34px!important;
    position: relative;
    left: 10px;
}


/* #navbar {

} */

.Searchbox {
    position: relative;
    left: 46px;
    align-items: center;
    bottom: 0px;
}

.Searchbox input {
    font-family: 'PrimaryFontRoboto', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    color: black;
    border: 1px;
    border-radius: 5px;
    padding-inline: 20px;
    width: 410px;
    height: 31px;
}

.SignIn {
    font-family: 'PrimaryFontRoboto', sans-serif !important;
    color: white;
    position: absolute;
    right: 100px;
    font-style: Bold !important;
    font-size: 16px !important;
    background-color: #ff0037;
    justify-content: center;
    top: 20px;
    width: 80px;
    height: 33px;
    border-radius: 9px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.menuimage img {
    position: absolute;
    right: 40px;
    top: 17px;
    background-color: transparent;
    width: 39px;
}

#navbar2 {
    display: flex;
    background-color: #06062e;
    height: 35px;
    width: 1366px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    line-height: normal !important;
}

.opt1 ul {
    display: flex;
    color: white;
}

.opt1 ul li a {
    Text-decoration: none;
    color: white;
    padding: 3px 18px;
    margin: 2px;
    font-family: 'PrimaryFontRoboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 10px !important;
    border: 1px solid #06062e;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.opt1 ul li :hover {
    border-color: black !important;
    background-color: #ff0037 !important;
}

.opt1 ul :hover {
    transform: scale(1.1);
    z-index: 2;
}

.opt1 ul :active {
    transform: scale(.90);
    z-index: 2;
}

.opt1 ul li {
    list-style: none;
}

.opt2 ul {
    display: flex;
    color: white;
}

.opt2 ul li a {
    text-decoration: none;
    color: white;
    padding: 3px 18px;
    margin: 2px;
    font-family: 'PrimaryFontRoboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 10px !important;
    border: 1px solid #06062e;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.opt2 ul li :hover {
    border-color: black !important;
    background-color: #ff0037 !important;
}

.opt2 ul :hover {
    transform: scale(1.1);
    z-index: 2;
}

.opt2 ul :active {
    transform: scale(.90);
    z-index: 2;
}

.opt2 ul li {
    list-style: none;
}

.opt2 {
    position: absolute;
    right: 50px;
    top: 80px
}

.opt1 {
    position: absolute;
    left: 30px;
    top: 80px;
}

.SignIn:hover {
    color: #ff0037;
    background-color: white;
    border-color: #ff0037;
}

.SignIn:active {
    transition: all 0s ease-in-out !important;
    transform: scale(.90);
    z-index: 2;
}

header {
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1.5px solid white;
    width: 1366px;
}

.Seachicon {
    width: 50px;
    height: 36px;
    border-radius: 8px;
    background-color: #ff0037;
    color: white;
    font-size: 18px;
}

.Seachicon:active {
    transform: scale(0.98);
    z-index: 2;
}


/* right slide menu bar -------------------------->*/

#myslidermenu {
    position: absolute;
    right: -350px;
    width: 350px;
    height: 768px;
    border-left: 1px solid black;
    transition: smooth;
    transition: .5s;
    background: white !important;
    z-index: 10;
}

.active-page {
    border-color: black !important;
    background-color: #ff0037 !important;
    transform: scale(1.1);
}

.menuheader h2 {
    color: white;
    font-family: 'PrimaryFontRoboto', sans-serif;
    background: rgb(4, 4, 59);
    padding: 14px;
    font-size: 20px !important;
}

#myslidermenu ul li {
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px solid gray;
    border-bottom: 1px solid rgb(241, 241, 241);
    font-family: 'PrimaryFontRoboto', sans-serif;
    font-size: 18px;
    display: flex;
}

#myslidermenu ul li i {
    margin-right: 10px;
    font-size: 20px
}

#myslidermenu ul li p {
    position: absolute;
    left: 60px;
}

#myslidermenu ul li:hover {
    background-color: rgb(241, 241, 241);
}

.arrow {
    position: absolute;
    right: 0;
    color: #ff0037
}

.menuheader h2 i {
    position: absolute !important;
    right: 8px !important;
}

#unlock {
    display: flex;
    /* margin-top: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'PrimaryFontRoboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px #e28b9e;
}

#unlock img {
    width: 40px;
    height: 40px;
}

#unlock p {
    width: 150px;
    position: relative;
    left: 10px;
    top: auto;
}

.btn2signin {
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ff0037;
    border-radius: 9px;
    color: #ff0037;
    border-color: #ff0037;
    background-color: white;
    font-family: 'PrimaryFontRoboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.btn2signin:hover {
    color: white;
    background-color: #ff0037;
    border-color: white;
}

.btn2signin:active {
    transition: all 0s ease-in-out !important;
    transform: scale(.98);
    z-index: 2;
}

#myslidermenu ul {
    padding-left: 0rem !important;
}


/* right slide menu bar --------------------------> ends*/


/* footerdesign starts-----------------------------------------------------------> */

.cinemafooter {
    width: 1366px;
    height: 1270px;
    background-color: rgb(51, 51, 56);
    position: absolute;
    bottom: 0;
}

.listyourshow {
    width: 1366px;
    height: 80px;
    display: flex;
    color: white;
}

.contactus {
    font-family: 'PrimaryFontRoboto', sans-serif !important;
    color: white;
    position: relative;
    left: 340px;
    top: 19px;
    font-style: Bold !important;
    font-size: 16px !important;
    background-color: rgb(236, 94, 113);
    justify-content: center;
    width: 160px;
    height: 40px;
    border-radius: 9px;
    /* transition: all 0.5s ease-in-out; */
    border: 0px;
    overflow: hidden;
    cursor: pointer;
}

.listyourString {
    font-family: 'PrimaryFontRoboto';
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left: 190px;
    top: 30px;
}

.listyourshow img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 20px;
    left: 154px;
}

.fsString1 {
    font-family: 'PrimaryFontRoboto';
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 165px;
    top: 29px;
}

.contactus::before {
    content: "" !important;
    position: absolute !important;
    background: #eae4e6 !important;
    width: 8px !important;
    top: 0 !important;
    bottom: 0 !important;
    left: -32px !important;
    transform: rotate(-16deg) !important;
    filter: blur(6px) !important;
}

.contactus:hover::before {
    left: calc(100% + 32px) !important;
    transition: 0.95s !important;
}

.contactus:hover {
    transition: all 0.2s ease-in-out;
    background-color: #ff0037;
}

.contactus:active {
    transform: scale(0.98);
    z-index: 2;
}


/* customer support */

.customersupport {
    width: 1366px;
    height: 110px;
    background-color: rgb(64, 64, 67);
}

.cs-support {
    display: flex;
}

.customersupport .support img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.customersupport .support .img1 {
    position: relative;
    left: 33px;
}

.customersupport .support .img2 {
    position: relative;
    left: 70px;
}

.customersupport .support .img3 {
    position: relative;
    left: 65px;
}

.customersupport .support {
    margin-left: 150px;
    margin-top: 12px;
    position: relative;
    left: 130px;
    font-family: 'PrimaryFontRoboto' !important;
    font-size: 12px !important;
    font-weight: 900 !important;
    color: #858889 !important;
}

.customersupport .support:hover {
    color: white !important;
}


/* Movies shown in mumbai */

.mumbaishow {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: #858889 !important;
}

.mumbaishow .ms-string1 {
    font-family: 'PrimaryFontRoboto' !important;
    font-size: 12px !important;
    font-weight: 900 !important;
}

.mumbaishow .ms-movies {
    font-family: 'PrimaryFontRoboto' !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    cursor: pointer;
}

.mumbaishow .ms-movies:hover {
    color: white;
}

.ms-allmovies {
    margin-top: 5px;
}


/* Footer logo */

.footerlogo {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlogo .logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlogo .logo2 img {
    width: 55px;
    height: 55px;
    margin-left: 5px;
}

.footerlogo .logo2 .logostring {
    margin-left: 5px;
    font-family: 'logofont';
    color: white;
    font-size: 42px;
    font-weight: 500;
}

.footerlogo .hr-line {
    width: 500px;
    color: white;
    height: 0.99px;
}

.Fr-mediaicons {
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fr-mediaicons img {
    width: 37px;
    height: 37px;
    object-fit: cover;
    margin-right: 20px;
    position: relative;
    left: 17px;
}

.Fr-mediaicons img:hover {
    filter: invert(100%);
}

.Fr-mediaicons img:active {
    transform: scale(1.2);
    z-index: 2;
}


/* copyright */

.pagecopyright {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
}

.pagecopyright .cp-line {
    font-family: 'PrimaryFontRoboto' !important;
    font-size: 12px !important;
    font-weight: 900 !important;
    color: #858889 !important;
}


/* footerdesign ends-----------------------------------------------------------> */


/* streamimagescarousel -------------------starts */

#streamimagescarousel {
    width: 1350px;
    height: 450px;
}

#streamimagescarousel .mycard-1 {
    width: 1350px;
    height: 450px;
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.56)), url('../images/blackfriday.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#streamimagescarousel .mycard-2 {
    width: 1350px;
    height: 450px;
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.56)), url('../images/rrr-poster.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#streamimagescarousel .mycard-3 {
    width: 1350px;
    height: 450px;
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.56)), url('../images/batmanposter.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next {
    right: -80px !important;
}

.carousel-control-prev {
    left: -80px;
}

#streamimagescarousel .allmaterials {
    width: 1250px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#streamimagescarousel .material-1 {
    width: 272px;
    height: 370px;
    border-radius: 20px;
}

#streamimagescarousel .material-1 img {
    width: 272px;
    height: 370px;
    border-radius: 20px;
    object-fit: cover;
}

#streamimagescarousel .material-2 {
    width: 900px;
    height: 370px;
}

#streamimagescarousel .material-2 .material-margin {
    width: 800px;
    height: 370px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-margin .part-1 {
    width: 800px;
    height: 70px;
}

.material-margin .part-1 img {
    width: 108px;
    height: 24px;
}

.material-margin .part-1 h3 {
    font-family: 'PrimaryFontRoboto';
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
}

.material-margin .part-2 {
    width: 800px;
    height: 100px;
}

.material-margin .part-2 h1 {
    font-family: 'PrimaryFontRoboto';
    font-weight: 600;
    color: white;
}

.material-margin .part-2 h3 {
    font-family: 'PrimaryFontRoboto';
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.material-margin .part-3 {
    width: 800px;
    height: 90px;
}

.material-margin .part-3 h4 {
    font-family: 'PrimaryFontRoboto';
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.material-margin .part-3 p {
    font-family: 'PrimaryFontRoboto';
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -16px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}


/* streamimagescarousel -------------------Ends */


/* priemierthisweek-------------------------------->starts */

#priemierthisweek {
    width: 1350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priemierthisweek-part1 {
    width: 1200px;
    height: 60px;
}

.priemierthisweek-part1 h3 {
    font-family: 'PrimaryFontRoboto';
    font-size: 23px;
    font-weight: 600;
    color: white;
    position: relative;
    top: 50px;
    margin-bottom: 20px;
}

.priemierthisweek-part1 p {
    font-family: 'PrimaryFontRoboto';
    font-size: 15px;
    font-weight: 500;
    color: white;
    position: relative;
    top: 30px;
}

.priemierthisweek-part2 {
    width: 1200px;
    height: 340px;
    margin-top: 40px;
}

.sm-Allcard {
    margin-right: 50px;
    height: 335px;
    display: flex;
}

.sm-card {
    width: 210px;
    height: 332px;
    border-radius: 10px;
    margin-right: 37px;
}

.sm-card:active {
    transform: scale(0.98);
    z-index: 2;
}

.sm-card img {
    width: 210px;
    height: 332px;
    object-fit: fill;
    border-radius: 10px;
    pointer-events: none;
}


/* priemierthisweek-------------------------------->Ends */


/* browserbylanguage--------------------------------->Starts */

.browserbylanguage {
    width: 1350px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}

.browserbylanguage-frame {
    width: 1200px;
    height: 130px;
    background-image: linear-gradient(268deg, #bdc3c7, #2c3e50) !important;
    border-radius: 10px;
}

.browserbylanguage-part1 h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px !important;
    font-weight: 500;
    color: white;
    position: relative;
    top: 20px;
    left: 20px;
}

.browserbylanguage-part2 .language {
    background-color: #ff0037;
    font-family: 'PrimaryFontRoboto';
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid #ff0037;
    color: white;
    font-weight: 600;
    width: 100px;
    position: relative;
    top: 30px;
    left: 20px;
}

.browserbylanguage-part2 .language:active {
    transform: scale(0.98);
    z-index: 2;
}


/* browserbylanguage--------------------------------->Ends */